.formContainer {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}
.createPostContainer {
    max-width: 60%;
    background-color: #0C5F6A;
    line-height: 25px;
    color: white;
    padding: 30px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 15px 5px black;
    text-align: left;
    display: flex;
}
.contentContainer {
    padding-left: 30px;
}
.buttons {
    display: flex;
    justify-content: space-between;
}
.imageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.editImage {
    max-width: 75%;
    border-radius: 10px;
    box-shadow: 0 0 10px #1e2745;
}
.inputForm {
    display: flex;
    justify-content: flex-end;
    min-width: 30em;
}
.form-group {
    padding: 5px 0;
}