.details {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}
.detailItem {
    max-width: 70%;
    text-align: left;
    background-color: #0C5F6A;
    color: white;
    padding: 30px 30px 60px;
    margin: 10px;
    display: flex;
    flex: 3 3;
    border-radius: 5px;
    box-shadow: 0 0 15px 5px black;
}
.contentContainer {
    padding-left: 30px;
}
.imageContainer {
    display: flex;
    min-width: 300px;
    align-items: left;
}
.detailImage {
    max-width: 90%;
    border-radius: 10px;
    box-shadow: 0 0 10px #1e2745;
}
h2 {
    text-align: center;
}
.claimModal {
    background-color: #1e2745;
    color: gainsboro;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px #1e2745;
}