body {
    text-align: center;
    color: #049698;
}
.postList {
    display: flex;
    flex-wrap: wrap;
}
.postCards {
    background-color: #0C5F6A;
    color: white;
    padding: 20px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    flex: 3 3;
    max-width: 250px;
    min-width: 200px;
    text-align: left;
    border-radius: 10px;
    box-shadow: 0 0 15px 5px black;
}
.image {
    display: flex;
    max-width: 200px;
    border-radius: 10px;
}
.image:hover {
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #1e2745;
}
.alignCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.postImage {
    display: flex;
    justify-content: center;
}
.neon {
    color: #1e2745;
    text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 40px #0ff,
      0 0 80px #0ff,
      0 0 90px #0ff,
      0 0 100px #0ff,
      0 0 150px #0ff;
  }