header {
    margin: 0;
    padding: 0;
    background-color: #1e2745;
    color: #049698;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 120px;
}

.header {
    position: relative;
    min-height: 15vh;
}
