header {
    margin: 0;
    padding: 0;
    background-color: #1e2745;
    color: #049698;
    position: sticky;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 120px;
    border: double 3px #13636e;
}
.headerOverlay {
    opacity: 0.9;
}
.header {
    position: relative;
    min-height: 10vh;
}
