.innerIdentifyForm {
    background-color: #13636e;
    padding: 75px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}
.identifyForm {
    display: flex;
    vertical-align: middle;
    padding-top: 9em;
    
}
