.innerIdentifyForm {
    background-color: #13636e;
    padding: 75px;
    margin-left: auto;
    margin-right: auto;
}
.identifyForm {
    display: table-cell;
    vertical-align: middle;
    opacity: 0.8;
}
.outerIdentifyForm {
    display: table; 
    position: absolute;
    top: 0px;
    left: 0;
    height: 100%;
    width: 100%;
} 
