.selectPlantContainer {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}
.selectPlantCard {
    max-width: 55%;
    text-align: left;
    background-color: #0C5F6A;
    color: white;
    padding: 50px 70px 60px;
    margin: 10px;
    line-height: 25px;
    display: flex;
    flex: 3 3;
    border-radius: 5px;
    box-shadow: 0 0 15px 5px black;
}
.selectImageContainer {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    align-items: center;
    justify-content: center;
}
.selectImage {
    max-width: 90%;
    border-radius: 10px;
    box-shadow: 0 0 10px #1e2745;
}
.selectContentContainer {
    padding-left: 30px;
}
.alignButton {
    display: flex;
    justify-content: center;
}
.nonNativeContainer {
    display: flex;
    justify-content: center;
    padding-top: 5em;
}
.nonNativeSubContainer {
    max-width: 70%;
    background-color: #0C5F6A;
    color: white;
    padding: 30px 30px 60px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 15px 5px black;
    display: flex;
    flex-direction: column;
}
.nonNativeTitle {
    text-align: left;
}
.nativeLink > a {
    font-weight: bold;
}
