.selectPlantCard {
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex: 3 3;
    max-width: 400px;
    text-align: center;
}
.selectPlantList {
    display: flex;
    flex-wrap: wrap;
}
.selectImage {
    max-width: 400px;
}