.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #0C5F6A;
    list-style: none;
    padding: 10px;
}
.search {
    display: flex;
    padding-right: 40px;
    flex: 3;
    justify-content: flex-end;
}
.searchInput {
    width: 30em;
}
.navbar__link {
    flex: 1;
    white-space: nowrap;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: underline;
}
ul {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    overflow-wrap: break-word;
}